@charset "UTF-8";

/* cores principais
Vermelho #DC3D12
Azul #3F78D9
Verde #AFD93F
cores secundarias
#5C4845
#474E59
#788452
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --varcor1: #DC3D12;
    --varcor2: #008dbd;
    --varcor3: #AFD93F;
    --varcor1-1: #5C4845;
    --varcor2-1: #474E59;
    --varcor3-1: #788452;
}
body{
    height: 97vh;
    width: 97vw;
    background-color: var(--varcor2);
}
main{
    position: absolute;
}
section{
    width: 350px;
    display: block;
    margin-left: 26%;
    margin-right: 10%;
    margin-top: 20%;
}
div{
    background-color: var(--varcor1);
    background-image: url(../img/paisagem.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: block;
    width: 234px;
    height: 166px;
    border-radius: 10px 10px 0px 0px;
}
form{    
    width: 230px;
    height: 260px;
    border-radius: 0px 0px 10px 10px;
    margin-left: 0px;
    padding-left: 4px;
    padding-bottom: 5px;
    background-color: white;
}
h1{
    margin: 0px;
    text-align: center;
}
p{
    margin: 5px;
}
#imail{
    margin: 1px;
    border-radius: 10px;
    width: 178px;
    transform: translateY(-5px);
}
#isenha{
    border-radius: 10px;
    margin: 3px;
    width: 178px;
    transform: translateY(-5px);
}
#enter{
    margin: 1px;
    border-radius: 5px;
    width: 225px;
    color: white;
    background-color: var(--varcor2);
}
#enter:hover{
    background-color: var(--varcor2-1);
}
#ems{
    margin: 1px;
    border-radius: 5px;
    width: 225px;
}
#ems:hover{
    background-color: var(--varcor3);
}
label{
    background-color: var(--varcor1);
    display: block;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
}
span.material-symbols-outlined{
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 25
}